@import "tailwindcss";

/* Apply global font */
body {
  font-family: 'Nunito', sans-serif;
  color: #fefefe;
}

.font2 {
  font-family: "BBH Hegarty", sans-serif;
}

.font1 {
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}
