@import "tailwindcss";

/* Apply global font */
body {
  font-family: 'Nunito', sans-serif;
  color: white;
}

.font2 {
  font-family: "BBH Hegarty", sans-serif;
}

html {
  scroll-behavior: smooth;
}
